<div class="topbar">
  <div class="header">
    <div class="container">
      <!--
      <a class="brand" href="/" title="OONI - Open Observatory of Network Interference">
      </a>
      -->
      <img alt="Tor" src="{{site.url}}/media/img/onion.jpg">
      <h1 class="site-title">
        <a href="{{site.listing_url}}">
            {{site.name}}
        </a>: Open Observatory of Network Interference
      </h1>

    {% block sitenav %}
    {% include "skeleton/_site_nav.html" %}
    {% endblock %}
    </div>
  </div>
</div>

