{% extends "_staticpage.html" %}

{%hyde
    title: "About"
%}

{% block article %}
<div class="span4">
OONI is the Open Observatory for Network Interference and its aim is to collect high quality data using open methodologies, using Free and Open Source Software (FL/OSS) to share observations and data about the kind, methods and amount of surveillance and censorship in the world.

This is a human rights observation project for the Internet. OONI seeks to observe levels of surviellance, censorship, and networked discrimination by networked authoritarian power structures.

The end goal of OONI is to collect data which can show an accurate map of network interference and censorship. We're calling this reality the Filternet.



</div>
{% endblock %}
